<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <title>Shout！</title>
    </head>
    <body>
        <ul>
            <% 100.times do |i| %>
            <li><%= i %>番目です</li>
            <% end %>
        </ul>
    </body>
</html>